Flask-Migrate
python-dotenv
Requests
SQLAlchemy
WTForms
Flask-Security-Too
Flask-Dance
Flask-Mail
Flask-Login
Flask-WTF
PyMySQL
email_validator
Flask-Limiter
Flask-Principal
Flask-Bcrypt
pyotp
qrcode
treys
