<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5">
        <div class="row">
            <!-- Quick Links Column -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Quick Links</h5>
                <ul class="list-unstyled mb-0">
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('home.home') }}" class="text-muted">Home</a></li>
                    <li><a href="{{ url_for('poker_sites.poker_sites_page') }}" class="text-muted">Poker Sites</a></li>
                    <li><a href="{{ url_for('assets.assets_page') }}" class="text-muted">Assets</a></li>
                    <li><a href="{{ url_for('tools.tools_page') }}" class="text-muted">Tools</a></li>
                    <li><a href="{{ url_for('settings.settings_page') }}" class="text-muted">Settings</a></li>
                    {% else %}
                    <li><a href="{{ url_for('about.about') }}" class="text-muted">About</a></li>
                    <li><a href="{{ url_for('auth.login') }}" class="text-muted">Login</a></li>
                    <li><a href="{{ url_for('auth.register') }}" class="text-muted">Register</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- Copyright Column -->
            <div class="col-lg-8 col-md-6 d-flex align-items-end justify-content-end">
                <div class="small text-center text-muted">Copyright &copy; {{ current_year }} - StakeEasy.net</div>
            </div>
        </div>
    </div>
</footer>