{% macro page_header(title, subtitle) %}
<header class="masthead page-masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="font-weight-bold">{{ title }}</h1>
                <hr class="divider my-3" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                {% if subtitle %}
                <p class="mb-3">{{ subtitle }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% endmacro %}

{% macro render_item_table(items, item_type) %}
<div class="table-responsive ">
    <table class="table table-custom table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Current Amount</th>
                <th scope="col">Current (USD)</th>
                <th scope="col">Change (USD)</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.currency_symbol }}{{ "%.2f" | format(item.current_amount) }} {{ item.currency }}</td>
                <td>${{ "%.2f" | format(item.current_amount_usd) }}</td>
                {% if item.previous_amount_usd is not none %}
                    {% set change = item.current_amount_usd - item.previous_amount_usd %}
                    <td class="{% if change > 0 %}change-positive{% elif change < 0 %}change-negative{% else %}change-zero{% endif %}">
                        ${{ "%.2f" | format(change) }}
                    </td>
                {% else %}
                    <td>N/A</td>
                {% endif %}
                <td>
                    <div class="btn-group" role="group">
                        {% if item_type == 'site' %}
                            <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#generalModal" data-url="{{ url_for('poker_sites.update_site', site_id=item.id) }}">Update</button>
                            <button type="button" class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#generalModal" data-url="{{ url_for('poker_sites.rename_site', site_id=item.id) }}">Rename</button>
                            <a href="{{ url_for('poker_sites.site_history', site_id=item.id) }}" class="btn btn-sm btn-secondary">History</a>
                        {% elif item_type == 'asset' %}
                            <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#generalModal" data-url="{{ url_for('assets.update_asset', asset_id=item.id) }}">Update</button>
                            <button type="button" class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#generalModal" data-url="{{ url_for('assets.rename_asset', asset_id=item.id) }}">Rename</button>
                            <a href="{{ url_for('assets.asset_history', asset_id=item.id) }}" class="btn btn-sm btn-secondary">History</a>
                        {% endif %}
                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#generalModal" data-url="{{ url_for('common.confirm_delete', item_type=item_type, item_id=item.id) }}">Delete</button>
                        {% if item_type == 'site' %}
                            <a href="{{ url_for('poker_sites.move_site', site_id=item.id, direction='up') }}" class="btn btn-sm btn-dark"><i class="bi bi-arrow-up"></i></a>
                            <a href="{{ url_for('poker_sites.move_site', site_id=item.id, direction='down') }}" class="btn btn-sm btn-dark"><i class="bi bi-arrow-down"></i></a>
                        {% elif item_type == 'asset' %}
                            <a href="{{ url_for('assets.move_asset', asset_id=item.id, direction='up') }}" class="btn btn-sm btn-dark"><i class="bi bi-arrow-up"></i></a>
                            <a href="{{ url_for('assets.move_asset', asset_id=item.id, direction='down') }}" class="btn btn-sm btn-dark"><i class="bi bi-arrow-down"></i></a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}


{% macro display_messages(messages) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}