<div class="modal-header">
    <h5 class="modal-title">Add New Asset</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="addAssetForm" action="{{ url_for('add_asset.add_asset') }}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Asset Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" class="form-control" id="amount" name="amount" step="0.01" required>
        </div>
        <div class="mb-3">
            <label for="currency" class="form-label">Currency</label>
            <select class="form-select" id="currency" name="currency">
                {% for currency in currencies %}
                    <option value="{{ currency.name }}">{{ currency.name }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary" form="addAssetForm">Add Asset</button>
</div>