<div class="modal-header">
    <h5 class="modal-title">Add New Withdrawal</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="addWithdrawalForm" action="{{ url_for('add_withdrawal.add_withdrawal') }}" method="post">
        <div class="mb-3">
            <label for="date" class="form-label">Date:</label>
            <input type="date" class="form-control" id="date" name="date" value="{{ today }}" required autofocus>
        </div>
        <div class="mb-3">
            <label for="amount" class="form-label">Amount:</label>
            <input type="number" class="form-control" id="amount" name="amount" step="any" min="0" max="{{ "%.2f" | format(total_bankroll) }}" required>
        </div>
        <div class="mb-3">
            <label for="currency" class="form-label">Currency:</label>
            <select class="form-select" id="currency" name="currency" required>
                {% for currency in currencies %}
                    <option value="{{ currency.name }}" {% if currency.name == 'US Dollar' %}selected{% endif %}>{{ currency.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="withdrawn_at" class="form-label">Withdrawn At:</label>
            <input type="number" class="form-control" id="withdrawn_at" name="withdrawn_at" step="any" min="0" value="{{ "%.2f" | format(total_profit) }}" required>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary" form="addWithdrawalForm">Add Withdrawal</button>
</div>