{% extends "base.html" %}

{% block content %}
<section class="page-section bg-primary" id="assets">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Assets</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Manage your other assets (e.g. cash, gold, silver, cryto etc.)</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section" id="portfolio">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Your Assets</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-12 text-end mb-3">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#generalModal" data-url="{{ url_for('add_asset') }}">Add New Asset</button>
            </div>
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="table-header-dark">
                            <tr>
                                <th scope="col">Asset Name</th>
                                <th scope="col">Previous</th>
                                <th scope="col">Current (USD)</th>
                                <th scope="col">Change</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for asset in assets %}
                                    <tr>
                                        <td>{{ asset.name }}</td>
                                        <td>${{ "%.2f" | format(asset.previous_amount) if asset.previous_amount is not none else "N/A" }}</td>
                                        <td>${{ "%.2f" | format(asset.current_amount) }}</td>
                                        <td class="{% if (asset.current_amount - (asset.previous_amount if asset.previous_amount is not none else 0)) > 0 %}change-positive{% elif (asset.current_amount - (asset.previous_amount if asset.previous_amount is not none else 0)) < 0 %}change-negative{% else %}change-zero{% endif %}">${{ "%.2f" | format(asset.current_amount - (asset.previous_amount if asset.previous_amount is not none else 0)) }}</td>
                                        <td>
                                            <a href="#" class="btn btn-sm btn-primary update-modal-btn" data-bs-toggle="modal" data-bs-target="#generalModal" data-url="{{ url_for('update_asset', asset_name=asset.name) }}">Update</a>
                                            <a href="#" class="btn btn-sm btn-danger delete-modal-btn" data-bs-toggle="modal" data-bs-target="#generalModal" data-url="{{ url_for('confirm_delete', item_type='asset', item_id=asset.id) }}">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive mt-4">
                        <table class="table table-striped table-bordered">
                            <thead class="table-header-dark">
                                <tr>
                                    <th scope="col" colspan="2" class="text-center">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Total Current:</td>
                                    <td>${{ "%.2f" | format(total_current) }}</td>
                                </tr>
                                <tr>
                                    <td>Total Previous:</td>
                                    <td>${{ "%.2f" | format(total_previous) }}</td>
                                </tr>
                                <tr>
                                    <td>Total Change:</td>
                                    <td class="{% if (total_current - total_previous) > 0 %}change-positive{% elif (total_current - total_previous) < 0 %}change-negative{% else %}change-zero{% endif %}">${{ "%.2f" | format(total_current - total_previous) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}