{% extends "base.html" %}

{% block content %}
<section class="page-section bg-primary" id="charts-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Charts</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Visualizations of your financial data.</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section" id="charts-content">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Select a Chart</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-12 text-center">
                <ul class="list-unstyled">
                    <li><a href="/charts/poker_sites">Value of Poker Sites Over Time</a></li>
                    <li><a href="/charts/assets">Value of Assets Over Time</a></li>
                    <li><a href="/charts/bankroll">Value of Bankroll Over Time</a></li>
                    <li><a href="/charts/profit">Profit Over Time</a></li>
                    <li><a href="/charts/withdrawals">Value of Withdrawals Over Time</a></li>
                    <li><a href="/charts/deposits">Value of Deposits Over Time</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}