{% extends "base.html" %}

{% block content %}
<section class="page-section bg-primary" id="charts-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Charts</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Visualizations of your financial data.</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section" id="charts-content">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Select a Chart</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-2 col-md-4 col-sm-6 text-center mb-3">
                <div class="dropdown">
                    <button class="btn btn-warning btn-xl dropdown-toggle" type="button" id="pokerSitesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Poker Sites
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="pokerSitesDropdown">
                        <li><a class="dropdown-item" href="/charts/poker_sites/line">Line Chart</a></li>
                        <li><a class="dropdown-item" href="/charts/poker_sites/bar">Bar Chart</a></li>
                        <li><a class="dropdown-item" href="/charts/poker_sites/pie">Pie Chart</a></li>
                        <li><a class="dropdown-item" href="/charts/poker_sites/polar_area">Polar Area Chart</a></li>
                        <li><a class="dropdown-item" href="/charts/poker_sites/radar">Radar Chart</a></li>
                        <li><a class="dropdown-item" href="/charts/poker_sites/scatter">Scatter Chart</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 text-center mb-3">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-xl dropdown-toggle" type="button" id="assetsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Assets
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="assetsDropdown">
                        <li><a class="dropdown-item" href="/charts/assets/line">Line Chart</a></li>
                        <li><a class="dropdown-item" href="/charts/assets/bar">Bar Chart</a></li>
                        <li><a class="dropdown-item" href="/charts/assets/pie">Pie Chart</a></li>
                        <li><a class="dropdown-item" href="/charts/assets/polar_area">Polar Area Chart</a></li>
                        <li><a class="dropdown-item" href="/charts/assets/radar">Radar Chart</a></li>
                        <li><a class="dropdown-item" href="/charts/assets/scatter">Scatter Chart</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 text-center mb-3">
                <div class="dropdown">
                    <button class="btn btn-success btn-xl dropdown-toggle" type="button" id="bankrollDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Bankroll
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="bankrollDropdown">
                        <li><a class="dropdown-item" href="/charts/bankroll/line">Line Chart</a></li>
                        <li><a class="dropdown-item" href="/charts/bankroll/bar">Bar Chart</a></li>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 text-center mb-3">
                <div class="dropdown">
                    <button class="btn btn-info btn-xl dropdown-toggle" type="button" id="profitDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Profit
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="profitDropdown">
                        <li><a class="dropdown-item" href="/charts/profit/line">Line Chart</a></li>
                        <li><a class="dropdown-item" href="/charts/profit/bar">Bar Chart</a></li>
                   </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 text-center mb-3">
                <div class="dropdown">
                    <button class="btn btn-danger btn-xl dropdown-toggle" type="button" id="withdrawalsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Withdrawals
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="withdrawalsDropdown">
                        <li><a class="dropdown-item" href="/charts/withdrawals/line">Line Chart</a></li>
                        <li><a class="dropdown-item" href="/charts/withdrawals/bar">Bar Chart</a></li>
                   </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 text-center mb-3">
                <div class="dropdown">
                    <button class="btn btn-dark btn-xl dropdown-toggle" type="button" id="depositsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Deposits
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="depositsDropdown">
                        <li><a class="dropdown-item" href="/charts/deposits/line">Line Chart</a></li>
                        <li><a class="dropdown-item" href="/charts/deposits/bar">Bar Chart</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}