{% extends "base.html" %}

{% block content %}
<section class="page-section bg-primary" id="deposit">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Deposits</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Track your deposits to your bankroll.</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section" id="portfolio">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Deposit History</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <div class="card h-100 shadow-sm text-center">
                    <div class="card-body">
                        <div class="mb-2"><i class="bi-arrow-up-circle-fill fs-1 text-success"></i></div>
                        <h4 class="card-title">Total Deposits</h4>
                        <p class="card-text fs-2 fw-bold">${{ "%.2f" | format(deposits | sum(attribute='amount_usd')) }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-12 text-end mb-3">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#generalModal" data-url="{{ url_for('add_deposit.add_deposit') }}">Add New Deposit</button>
            </div>
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table-custom">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Amount (USD)</th>
                                <th scope="col">Original Currency</th>
                                <th scope="col">Original Amount</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deposit_item in deposits %}
                                <tr>
                                    <td>{{ deposit_item.date }}</td>
                                    <td>${{ "%.2f" | format(deposit_item.amount_usd) }}</td>
                                    <td>{{ deposit_item.currency_name }}</td>
                                    <td>{{ deposit_item.currency_symbol }}{{ "%.2f" | format(deposit_item.original_amount) }}</td>
                                    <td>
                                        <a href="#" class="btn btn-sm btn-primary update-modal-btn" data-bs-toggle="modal" data-bs-target="#generalModal" data-url="{{ url_for('deposit.update_deposit', deposit_id=deposit_item.id) }}">Edit</a>
                                        <a href="#" class="btn btn-sm btn-danger delete-modal-btn" data-bs-toggle="modal" data-bs-target="#generalModal" data-url="{{ url_for('common.confirm_delete', item_type='deposit', item_id=deposit_item.id) }}">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}