{% extends "base.html" %}

{% block content %}
{% from "_macros.html" import page_header %}
  <header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
      <div class="d-flex justify-content-center">
        <div class="text-center">
          <h1 class="mx-auto my-0 text-uppercase">Pot Limit Omaha Tools</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Analyze hand strength and calculate Stack-to-Pot Ratio.</h2>
        </div>
      </div>
    </div>
  </header>

<section class="page-section" id="portfolio">
    <div class="container px-4 px-lg-5">
      <div class="plo-form-container">
        <div class="image-container">
          <img src="{{ url_for('static', filename='images/tables/poker_table_pot_btn_chips' ~ button_position ~ '.png') }}" alt="Poker Table" class="poker-table" id="pokerTable">
          <div id="seat-1" class="seat">
            <div class="seat-label">Seat 1</div>
            <div class="position-label"></div>
          </div>
          <div id="seat-2" class="seat">
            <div class="seat-label">Seat 2</div>
            <div class="position-label"></div>
          </div>
          <div id="seat-3" class="seat">
            <div class="seat-label">Seat 3</div>
            <div class="position-label"></div>
          </div>
          <div id="seat-4" class="seat">
            <div class="seat-label">Seat 4</div>
            <div class="position-label"></div>
          </div>
          <div id="seat-5" class="seat">
            <div class="seat-label">Seat 5</div>
            <div class="position-label"></div>
          </div>
          <div id="seat-6" class="seat">
            <div class="seat-label">Seat 6</div>
            <div class="position-label"></div>
          </div>
        </div>
        <form action="{{ url_for('hand_eval.switch_button_position') }}" method="post" class="button-group">
          {{ button_form.hidden_tag() }}
          <label>Choose button position:</label>
            <button type="submit" name="button_position" value="1" class="btn btn-primary btn-md">1</button>
          <button type="submit" name="button_position" value="2">2</button>
          <button type="submit" name="button_position" value="3">3</button>
          <button type="submit" name="button_position" value="4">4</button>
          <button type="submit" name="button_position" value="5">5</button>
            <button type="submit" name="button_position" value="6" class="btn btn-primary btn-md">6</button>
        </form>

        <form id="ploForm" action="{{ url_for('hand_eval.submit_form') }}" method="post" class="poker-form">
          {{ hand_form.hidden_tag() }}
          <div class="form-group">
            <label for="small_blind">Small Blind</label>
            <input type="number" id="small_blind" name="small_blind" class="form-control"  required>
          </div>
          <div class="form-group">
            <label for="big_blind">Big Blind</label>
            <input type="number" id="big_blind" name="big_blind" class="form-control"  required>
          </div>
          <div class="form-group">
            <label for="hero_stack">Hero's Chip Stack</label>
            <input type="number" id="hero_stack" name="hero_stack" class="form-control"  required>
          </div>
          <div class="form-group">
            <label for="hero_position">Hero's Position</label>
            <input type="text" id="hero_position" name="hero_position" class="form-control"  required>
          </div>
          <div class="form-group">
            <label for="hero_hand">Hero's Hand</label>
            <input type="text" id="hero_hand" name="hero_hand" class="form-control"  required>
          </div>
          <div class="form-group">
            <label for="board">Board Cards</label>
            <input type="text" id="board" name="board" class="form-control"  required>
          </div>
          <div class="form-group">
            <label for="opponent_stack">Opponent's Chip Stack</label>
            <input type="number" id="opponent_stack" name="opponent_stack" class="form-control"  required>
          </div>
          <div class="form-group">
            <label for="opponent_position">Opponent's Position</label>
            <input type="text" id="opponent_position" name="opponent_position" class="form-control"  required>
          </div>
          <div class="form-group">
            <label for="opponent_hand">Opponent's Hand</label>
            <input type="text" id="opponent_hand" name="opponent_hand" class="form-control"  required>
          </div>
          <div class="form-group">
            <label for="pot_size">Pot Size</label>
            <input type="number" id="pot_size" name="pot_size" class="form-control"  required>
          </div>
          <div class="form-group">
            <label for="bet_size">Bet Size (optional)</label>
            <input type="number" id="bet_size" name="bet_size" class="form-control" >
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
  </section>
{% endblock %}