<div class="modal-header">
    <h5 class="modal-title">Rename Poker Site</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="renameSiteForm" action="{{ url_for('poker_sites.rename_site', site_id=site.id) }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="mb-3">
            <label for="new_name" class="form-label">New Name</label>
            <input type="text" class="form-control" id="new_name" name="new_name" value="{{ site.name }}" required autofocus>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-info" form="renameSiteForm">Rename Site</button>
</div>