<form action="/update_deposit/{{ deposit_item.id }}" method="post">
    <div class="mb-3">
        <label for="date" class="text-white">Date:</label>
        <input type="date" class="form-control" id="date" name="date" value="{{ deposit_item.date }}">
    </div>
    <div class="mb-3">
        <label for="amount" class="text-white">Amount:</label>
        <input type="text" class="form-control" id="amount" name="amount" value="{{ deposit_item.amount }}">
    </div>
    <div class="mb-3">
        <label for="currency" class="text-white">Currency:</label>
        <select class="form-control" id="currency" name="currency" required>
            {% for currency in currencies %}
                <option value="{{ currency.name }}" {% if currency.name == deposit_item.currency %}selected{% endif %}>{{ currency.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="deposited_at" class="text-white">Deposited At:</label>
        <input type="text" class="form-control" id="deposited_at" name="deposited_at" value="{{ deposit_item.deposited_at }}">
    </div>
    <button type="submit" class="btn btn-primary">Update Deposit</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
</form>