<div class="modal-header">
    <h5 class="modal-title">Update Asset</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="updateAssetForm" action="{{ url_for('assets.update_asset', asset_name=asset.name) }}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Asset Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ asset.name }}" required autofocus>
        </div>
        {% if previous_amount is not none %}
        <div class="mb-3">
            <label for="previous_amount" class="form-label">Previous Amount</label>
            <input type="number" step="any" class="form-control" id="previous_amount" name="previous_amount" value="{{ previous_amount }}" disabled>
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" step="any" class="form-control" id="amount" name="amount" value="{{ "%.2f" | format(asset.amount) }}" required>
        </div>
        <div class="mb-3">
            <label for="currency" class="form-label">Currency:</label>
            <select class="form-select" id="currency" name="currency" required>
                {% for currency in currencies %}
                    <option value="{{ currency.name }}" {% if currency.name == asset.currency %}selected{% endif %}>{{ currency.name }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary" form="updateAssetForm">Update Asset</button>
</div>