{% extends "core/base.html" %}
{% from "partials/_macros.html" import page_header %}

{% block content %}
{{ page_header('HUD Stats Quiz', 'Test your knowledge of player statistics.') }}

<section class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <p class="lead text-center mb-5">Select the number of questions you want to answer and test your knowledge of typical HUD stats for different player types.</p>
                                                <form method="POST" action="{{ url_for('hand_eval.hud_stats_quiz') }}">
                    {{ form.csrf_token }}
                    <div class="form-group text-center">
                        {{ form.num_questions.label(class="mb-3") }}
                        {{ form.num_questions(class="form-control w-50 mx-auto") }}
                    </div>
                    <div class="text-center mt-4">
                        {{ form.submit(class="btn btn-primary btn-xl") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
